/node_modules
/public/hot
/public/storage
/public/js
/public/css
/public/fonts
/public/images/*
!/public/images/candidatos
/public/images/control_electoral/actas
!/public/images/control_electoral
/storage/*.key
/storage/framework
/storage/framework/laravel-excel
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
ecommerce
/reports
/front_ce/node_modules